<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-5">
    <li class="breadcrumb-item"><%= link_to "Home", restaurants_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @restaurant.name %></li>
  </ol>
</nav>

<h1 class="pt-2 display-3"><%= @restaurant.name %></h1>
<div class="row row-cols-1">
  <div class="col">
    <div class="card shadow h-auto rounded-4">
      <% random_search_word = ["food", "restaurant", "chef", "cuisine", "asian", "chinese", "burger"].sample %>
      <div class="card-title rounded-4 rounded-bottom-0" style="background-image: url('https://source.unsplash.com/random/500x500?<%= random_search_word %>'); background-size: cover; background-position: center; height: 50vh">
      </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span class="h5 bg-secondary px-4 py-2 rounded-pill" style="color:white"><%= @restaurant.category %></span>
            <div class="h4">
            <% (1..5).each do |i| %>
              <% if i <= @restaurant.average_rating.to_i %>
                <i class="fa-solid fa-star" style="color:gold"></i>
              <% else %>
                <i class="fa-regular fa-star" style="color:gold"></i>
              <% end %>
            <% end %>
            (<%= @restaurant.reviews.count %>)
            </div>
          </div>
          <p class="card-text"><%= @restaurant.address %></p>
        </div>
    </div>
  </div>
</div>

<h1 class="mt-5">Reviews</h1>
<div class="container p-0">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="row mb-3">
        <% @restaurant.reviews.each do |review| %>
          <div class="mb-2"><%= render "/reviews/review_card", review: review %></div>
        <% end %>
      </div>
    </div>
    <div class="w-100 d-block d-md-none"></div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card p-3 shadow rounded-3">
        <h2>Leave a review</h2>
        <%= simple_form_for [@restaurant, @review] do |f| %>
          <%= f.input :rating, collection: 0..5 %>
          <%= f.input :content%>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
